.input-block{
    display: flex;
    flex-direction: column;
  }

.input-block label{
    text-align: left;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    color: #000;
}
  
.input-block input{
    width: 100%;
    max-width: 300px;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputs-session input:focus {
    border-color: #007bff;
    outline: none;
  }

.invalid-input input:invalid {
  border: 2px solid red; /* Estilo quando o e-mail for inválido */
}