.radio-input-group {
  display: flex;
  flex-direction: column;
}

.radio-group-label {
  text-align: left;
  margin-bottom: 0.3rem;
  font-size: 1rem;
  color: #000;
}

.radio-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio-input-label {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.radio-input {
  accent-color: #007bff; /* Cor do rádio */
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  /* margin-right: 5px; */
  transition: all 0.3s ease;
}

.radio-input:checked {
  background-color: #007bff; /* Cor de fundo quando selecionado */
  border-color: #007bff;
}

.radio-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.3); /* Efeito de foco */
}
