/* select.css */

.select-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
  /* flex: 1; */
}

.select-label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.3rem;
}

.select-box {
  padding: 10px 2rem 10px 1rem;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  outline: none;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;  /* Remove a seta padrão do select */
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

.select-box:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.select-box:hover {
  border-color: #007bff;
}
